@using Repository.DataModel
@using Subsips_2.Areas.CPanel.Models.Order.ViewModel;
@model OrdersModelView
@{
    Layout = "~/Areas/Cpanel/Views/Shared/_Layout.cshtml";



}


@section Style {
    <link href="~/css/cpanel/order/index.css" rel="stylesheet" />

}

<div class="container mt-4" dir="rtl">
    <div class="row mb-3">
        <div class="col-12">
            <form class="d-flex flex-wrap align-items-center gap-2">
                <div class="form-group mb-0">
                    <label for="phoneNumberFilter" class="form-label">شماره مشتری:</label>
                    <input value="@(Model.Filter?.PhoneNumber ?? string.Empty)" type="text" name="phoneNumber" id="phoneNumberFilter" class="form-control" placeholder="شماره مشتری را وارد کنید">
                </div>
                <div class="form-group mb-0">
                    <label for="status" class="form-label">وضعیت سفارش:</label>
                    <select name="Status" id="orderStatusFilter" class="form-select">
                        <option @((Model.Filter?.Status == null) ? "selected" : "") value=""></option>
                        <option @((Model.Filter?.Status == OrderStatus.OnProcessed) ? "selected" : "") value="0">در انتظار</option>
                        <option @((Model.Filter?.Status == OrderStatus.Confirmed) ? "selected" : "") value="2">تایید شده</option>
                        <option @((Model.Filter?.Status == OrderStatus.Rejected) ? "selected" : "") value="3">رد شده</option>
                        <option @((Model.Filter?.Status == OrderStatus.Ready) ? "selected" : "") value="5">آماده</option>
                    </select>
                </div>
                <div class="form-group mb-0 d-flex">
                    <label for="orderDateFilter" class="form-label">نمایش تاریخ امروز</label>
                    <input @(((Model.Filter?.TodayOrder ?? false) ? "checked" : "")) type="checkbox" name="todayOrder" id="orderDateFilter" value="true" class="align-self-center me-2">
                </div>
                <button type="submit" class="btn btn-primary align-self-end">فیلتر</button>
            </form>
        </div>
    </div>

    <!-- Orders Table -->
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">تاریخ ثبت</th>
                            <th scope="col">نام (مشتری)</th>
                            <th scope="col">شماره (مشتری)</th>
                            <th scope="col">قهوه</th>
                            <th scope="col">وضعیت</th>
                            <th scope="col">توضیحات</th>
                            <th scope="col">عملیات</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr class="@(item.GetRowClassName())" >
                                <th scope="row"></th>
                                <td>@item.GetCreateDateDisplay</td>
                                <td>@item.CustomerFullName</td>
                                <td>@item.CustomerPhoneNumber</td>
                                <td>@item.CoffeeName</td>
                                <td>@item.GetStatusDisplayName</td>
                                <td>@((item.Description == null || item.Description == string.Empty) ? "-" : item.Description)</td>
                                <td>
                                    <button onclick="sendRequest('Confirm', '@(item.OrderId)')" class="btn btn-success btn-sm m-2">تایید</button>
                                    <button onclick="sendRequest('Ready', '@(item.OrderId)')" class="btn btn-info btn-sm m-2">آماده</button>
                                    <button onclick="sendRequest('Reject', '@(item.OrderId)')" class="btn btn-danger btn-sm m-2">رد</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <script src="~/js/cpanel/order/index.js"></script>
}
