@using Repository.DataModel
@using Repository.Helper
@using Subsips_2.Areas.Subsips.Models.UserCustomer
@model GetUserOrdersViewModel;
@{
    Layout = "~/Areas/Subsips/Views/Shared/_Layout.cshtml";
    ViewData["PageName"] = "";
}


@section Style {
    <link href="~/css/subsips/user_customer/user_orders.css" rel="stylesheet" />
}
<div class="row justify-content-center ">
    <h1 class="mb-4 text-center">سفارشات شما</h1>

    <div class="row">
        @foreach (var order in Model.Items)
        {
            <div class="col-12 col-md-6 col-lg-4">
                <div class="order-card bg-white border shadow-sm rounded p-3">
                    <div class="d-flex align-items-center mb-3">
                        @* <div class="icon-container me-3"> *@
                            @* <img src="/images/coffee-icon.png" alt="Coffee Icon" style="width: 40px; height: 40px;"> *@
                        @* </div> *@
                        <h5 class="mb-0 text-coffee-name">نام قهوه: @order.CoffeeName</h5>
                    </div>
                    <p class="mb-1 text-secondary"><i class="bi bi-geo-alt-fill me-1"></i><strong>ایستگاه:</strong> @order.StationName</p>
                    <p class="mb-1 text-secondary"><i class="bi bi-calendar3 me-1"></i><strong>تاریخ ثبت:</strong> @order.GetCreateDateDisplay</p>
                    <p class="status mb-0 @($"status-{order.Status.ToString().ToLower()}")">
                        <i class="bi bi-info-circle-fill me-1"></i>
                        <strong>وضعیت:</strong>
                        <span>@order.GetStatusDisplayName</span>
                    </p>
                    <div>
                        <a class="btn btn-bg-color-primary w-100" href="/subsips/UserCustomer/ShowStatusOrder?orderId=@(order.orderId)"> نمایش جزئیات </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


@section Scripts {
}
