@using Repository.DataModel
@using Repository.Helper
@using Subsips_2.Areas.Subsips.Models.UserCustomer
@model ShowStatusOrderViewModel
@{
    Layout = "~/Areas/Subsips/Views/Shared/_Layout.cshtml";
    ViewData["PageName"] = "";
    var statusDisplayName = EnumHelper<OrderStatus>.GetDisplayValue(Model.Status);
}


@section Style {
    <link href="~/css/subsips/user_customer/show_status_order.css" rel="stylesheet" />
}
<div class="row justify-content-center order-status">
    <div class="col-md-8 text-center">
        <h1 class="mb-4">وضعیت سفارش شما</h1>
        <div class="border rounded p-4 shadow-sm">
            <!-- Order Summary -->
            <div class=" order-title-section mb-4">
                <p>زمان ثبت: <span id="orderDate">@Model.CreateOrderTime.ToString("hh:mm") </span></p>
                <p><strong>وضعیت فعلی:</strong> @(statusDisplayName)</p>
                <img style="" src="~/img/order/@(Model.GetImageStatusOrder()).webp" />
            </div>
            <!-- Order Status Details -->
            <div class="order-detail-section">
                <p>قهوه : <span id="deliveryAddress">@Model.CoffeeName</span></p>
                <p>قیمت: <span id="deliveryAddress">@Model.CoffeePrice</span></p>
                <p>ایستگاه تحویل: <span id="deliveryAddress">@Model.StationCafeName</span></p>
                <button class="w-100 call-cafe mb-3" onclick="window.open('tel:@("0"+Model.CafePhoneNumber)');"
                        style="padding: 10px 20px; font-size: 16px; color: white; border: none; border-radius: 5px; cursor: pointer;">
                    تماس با کافه
                </button>

                <button class="w-100 reload-status mb-3" onclick="location.reload()"
                        style="padding: 10px 20px; font-size: 16px; color: white; border: none; border-radius: 5px; cursor: pointer;">
                    به روز رسانی سفارش
                </button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
}
