@using Subsips_2.Areas.Subsips.Models.Cafe
@model ConfirmedOrderModelView
@{

    Layout = "~/Areas/Subsips/Views/Shared/_Layout.cshtml";
    ViewData["PageName"] = "";
}

@section Style {
    <link href="~/css/subsips/cafe/confirmed-order.css" rel="stylesheet" />
}

<div dir="rtl" class="row justify-content-center order-confirmation">
    <div class="col-md-8 text-center">
        <h1 class="mb-4">برای ثبت لطفا سفارش را تایید کنید</h1>
        <div class="border rounded p-4 shadow-sm">
            <div class="order-confirmation-detail-section">
                <p>نام : <span>@Model.CustomerFullName</span></p>
                <p>شماره همراه : <span>@Model.CustomerPhoneNumber</span></p>
                <p>قهوه : <span>@Model.CoffeeName</span></p>
                <p>قیمت: <span>@Model.CoffeePrice</span></p>
                <p>ایستگاه تحویل: <span>@Model.StationName</span></p>

                <!-- Description Input -->
                <div class="form-group mb-3" id="descriptionSection">
                    <input name="description"
                           type="text"
                           class="form-control"
                           id="description"
                           placeholder="توضیحات را وارد نمایید">
                </div>

                <button class="w-100 confirmed-order mb-3" onclick="ConfirmedOrder_onClick()"
                        style="padding: 10px 20px; font-size: 16px; color: white; border: none; border-radius: 5px; cursor: pointer;">
                    تایید سفارش
                </button>

            </div>
        </div>
    </div>
</div>

<input type="hidden" id="coffeeId" name="coffeeId" value="@Model.coffeeId" />
<input type="hidden" id="orderId" name="orderId" value="@Model.orderId" />
<input type="hidden" id="cafeId" name="cafeId" value="@Model.cafeId" />

@section Scripts {
    <script src="~/js/user_customer/confirmed_order.js"></script>
}
